@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');


:root {
	--primary_color: rgba(17, 24, 39, 1)!important;
	--color_opacity: 14px!important;
	--corner_radius: 10px!important;
	--bg-color: #fff!important;
	--bg--forecolor: #000!important;
	--alpha: 0.21
}

[data-theme=dark] {
	--primary_color: #69bac9!important;
	--color_opacity: 14px!important;
	--corner_radius: 10px!important;
	--bg-color: #000!important
}
.survezy_question{
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom:15px !important;
	line-height: 21px !important;
	font-weight: 700 !important;
}
.survezy_button{
	margin-top: 15px !important;
	background-color: #000;
	margin-bottom: 20px !important;
	background-color: var(--bg--primary-color, blue) !important;
}
.option_box{
	font-family: 'Source Sans Pro', sans-serif;;
	width: 100%;
	padding: 2px 5px;
	line-height: 28px;
	font-size: 15px;
	cursor: pointer;
	margin-bottom: 9px;
	margin-left: -7px !important;
	padding-left: 5px;
	
	display: block;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	font-weight: 400 !important;
}
.form_control{
	width: 100%;
}
.watermark{
	position: inherit;
	bottom: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #c4c4c4;
	line-height: 16px;
}
.watermark a {
	text-decoration: none;
}
@media(min-width:600px) {

	.survezy_box {
		width: 369px;
		min-height: 268px;
		background: var(--bg-color);
		border-radius: var(--corner_radius);
		border: 3px solid var(--bg--primary-color, blue);
		right: 20px;
		bottom: 20px;
		padding: 22px;
		box-sizing: border-box;
		overflow: hidden;
		z-index: 99999999999999999999999;
		box-shadow: 0 20px 40px rgb(0 0 0 / 25%);
	}
	
	
}

@media(max-width:370px) {
	.survezy_box {
		padding: 16px
	}
}

@media(max-width:600px) {

	.survezy_box {
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 369px;
		left: 0;
		margin: 0 auto;
		border-radius: 30px 30px 0 0;
		border: none;
		animation-timing-function: linear;
		animation: lineV .5s;
		overflow: visible;
		min-height: 245px;
		padding: 1.5rem 1.5rem 1.7rem;
		box-sizing: border-box;
		background: #fff;
		z-index: 99999;
	}
	.watermark {
		bottom: 12px;
	}
}
